@import url("https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Fanwood+Text:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --heading-text: "Changa One", cursive;
  --body-text: "Fanwood Text", serif;
  --cream: #f8eeec;
  --orange: #e85c3b;
  --black: #222222;
  --pink: #ffc3de;
  --red: #e32450;
  --purple: #c58bf1;
  --midnight-blue: #181c52;
  --border: 2px solid var(--black);
}

.hire-me-scroll {
  width: 100%;
  overflow-x: hidden;
  background-color: var(--purple);
  height: 60px;
  border: var(--border);
  display: flex;
  align-items: center;
}

.hire-me {
  position: relative;
  top: 1%;
  left: -700px;
  white-space: nowrap;

  display: flex;
  align-items: center;

  font-family: var(--heading-text);
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  font-size: 26.2222px;
  text-transform: uppercase;
}

.hire-me-star {
  height: 30px;
  margin-right: 0;
  padding: 0 20px;
}

.contact-section {
  display: flex;
  align-items: center;
  padding: 75px 2%;
  background-color: var(--cream);
}

.contact-line {
  font-style: normal;
  font-weight: 400;
  font-size: 34.5029px;
  font-family: var(--heading-text);
  max-width: 572px;
}

.icon-link {
  height: 22px;
  width: 40px;
}

.contact-one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
}

.last-line {
  height: 38px;
  background-color: var(--orange);
  border: var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
}

.last-line p {
  font-family: var(--body-text);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

