@import url("https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Fanwood+Text:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --heading-text: "Changa One", cursive;
  --body-text: "Fanwood Text", serif;
  --cream: #f8eeec;
  --orange: #e85c3b;
  --black: #222222;
  --pink: #ffc3de;
  --red: #e32450;
  --purple: #c58bf1;
  --midnight-blue: #181c52;
  --border: 2px solid var(--black);
}

.main-about {
  background-color: var(--cream);
}

@media screen and (max-width: 768px) {
  .about-header {
    flex-direction: column;
  }
  .about-header .main-heading {
    font-size: 100px;
    text-align: center;
    -webkit-text-stroke: 2px black;
  }
}

.about-header {
  background: url("./images/about-hero.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 90vh;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 153.957px;
  font-family: var(--heading-text);
  color: var(--cream);
  -webkit-text-stroke: 4px black;
}

.about-header:hover {
  background: url("./images/about-hero.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 90vh;
}

.about-nav {
  background-color: var(--cream);
  width: fit-content;
  border: var(--border);
  padding: 15px 30px;
  font-family: var(--body-text);
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
}

.about-nav p {
  padding-bottom: 15px;
}

.about-nav ol li {
  padding-bottom: 5px;
}

.about-nav-links {
  text-decoration: none;
  color: var(--black);
}

.about-why-cute {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--cream);
  margin: 120px 5%;
  padding: 5%;
}

.about-why-cute-dialog {
  background-color: var(--pink);
  font-family: var(--body-text);
  font-style: normal;
  font-weight: 400;
  font-size: 23.4963px;
  text-align: justify;

  max-width: 500.59px;
  max-height: 409.86px;
  border: var(--border);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 4%;
}

.about-why-cute div {
  background: url("./images/about-why.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 356.46px;
  height: 475.28px;
  border: var(--border);
}

@media screen and (max-width: 768px) {
  #about-me div {
    background: url("./images/about-why.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 300.46px;
    height: 410.28px;
  }
  .about-why-cute {
    flex-direction: column;
  }

  .about-why-cute-dialog {
    font-size: 20px;
    margin-top: 20px;
  }

  .about-design p:nth-child(1),
  .about-design p:nth-child(2),
  .about-design p:nth-child(3) {
    font-size: 20px;
    padding: 7%;
    text-align: justify;
  }

  #about-design-first {
    margin: 10px auto;
  }

  #about-design-second {
    margin: 10px auto;
  }
}

.about-why-cute div:hover {
  background: url("./images/about-why.gif");
  background-size: contain;
  background-position: center;
}

.about-design {
  max-width: 767px;
  margin: auto;
}

.about-design p {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 26.4963px;
  font-family: var(--body-text);
}

.about-design p:nth-child(1) {
  margin: 177px auto;
}

.about-design p:nth-child(2) {
  margin: 157px auto 60px auto;
}

@media screen and (max-width: 768px) {
  .tech-stack-intro {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #tech-stack-bar {
    width: 271px;
    height: 20px;
    background: linear-gradient(90deg, #c58bf1 0%, #181c52 100%);
  }

  .tech-stack-intro h6 {
    margin-bottom: 30px;
  }

  .about-free-time-para.p1,
  .about-free-time-para.p2 {
    font-size: 20px;
    padding: 7%;
    text-align: justify;
  }

  #muse .about-free-time-para.p1,
  #muse .about-free-time-para.p2 {
    width: fit-content;
  }

  #muse {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  #muse .about-free-time-img1 {
    background: url("./images/about-cafe.gif");
    background-position: center;
    background-size: cover;
    border: var(--border);
    width: 218px;
    height: 163.39px;
    margin: 20px auto;
  }

  #muse .about-cafe-hopping-div {
    flex-direction: column;
    margin-top: 20px;
    padding: 5%;
  }

  #muse .about-cafe-hopping {
    font-size: 20px;
    padding: 7%;
    text-align: justify;
    margin-bottom: 50px;
  }

  #muse .about-free-time-img2 {
    background: url("./images/about-cafe-hopping.gif");
    background-position: center;
    background-size: cover;
    border: var(--border);
  }
}

.tech-stack {
  margin-top: 230px;
}

.tech-stack-intro {
  display: flex;
  justify-content: space-between;
  margin: auto 12%;
  /* gap: 50px; */
}

.tech-stack-intro h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 34.3581px;
  font-family: var(--heading-text);
}

.tech-stack-indicator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tech-stack-bar {
  height: 36.7px;
  width: 487.26px;
  background: linear-gradient(90deg, #c58bf1 0%, #181c52 100%);
  border: var(--border);
}

.tech-stack-bar-text {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.skill-field-main {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  font-family: var(--heading-text);

  margin: 50px auto;
  text-align: center;
}

.skill-field {
  font-style: normal;
  font-weight: 400;
  font-size: 16.6368px;
  font-family: var(--body-text);
  text-align: left;
}

@media screen and (max-width: 768px) {
  .skill-boxes .unskilled-box,
  .skill-boxes .skilled-box {
    margin: 10px 1px;
    padding: 10px;
  }

  #tech-stack {
    margin-top: 100px;
  }

  .skill-boxes {
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
  }

  .skill-field-area {
    flex-direction: column;
  }
}

.skilled-box {
  font-style: normal;
  font-weight: 400;
  font-size: 16.6368px;
  line-height: 22px;
  color: var(--cream);
  background-color: var(--midnight-blue);
  border: var(--border);
  padding: 12px 20px;
  margin: 27px;
}

.unskilled-box {
  font-style: normal;
  font-weight: 400;
  font-size: 16.6368px;
  line-height: 22px;
  color: var(--black);
  background-color: var(--purple);
  border: var(--border);
  padding: 12px 20px;
  margin: 27px;
}

.skill-field-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 12%;
}

.skill-boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-free-time {
  margin: 300px 3%;
}

.about-free-time-para {
  font-style: normal;
  font-weight: 400;
  font-size: 26.5px;
  text-align: center;
  color: var(--black);
  font-family: var(--body-text);
  margin: auto;
}

.about-free-time-para.p2 {
  width: 861px;
}

.about-free-time-para.p1 {
  width: 767px;
}

.about-free-time-img1 {
  width: 499px;
  height: 374px;
  background: url("./images/about-cafe.jpeg");
  background-position: center;
  background-size: cover;
  border: var(--border);
  margin: 112px auto;
}

.about-free-time-img1:hover {
  background: url("./images/about-cafe.gif");
  background-position: center;
  background-size: cover;
  border: var(--border);
}

.about-free-time-img2 {
  width: 335px;
  height: 447px;
  background: url("./images/about-cafe-hopping.jpeg");
  background-position: center;
  background-size: cover;
  border: var(--border);
}

.about-free-time-img2:hover {
  background: url("./images/about-cafe-hopping.gif");
  background-position: center;
  background-size: cover;
  border: var(--border);
}

.about-cafe-hopping {
  background-color: var(--orange);
  padding: 30px 45px;
  border: var(--border);
  font-style: normal;
  font-weight: 400;
  font-size: 26.4963px;
  text-align: justify;
  font-family: var(--body-text);
  max-width: 608.59px;
  max-height: fit-content;
  /* max-height: 409.86px; */
}

.about-cafe-hopping-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 170px auto;
}

.notes-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 26.4963px;
  color: var(--black);
  font-family: var(--body-text);
  text-align: center;
  margin-bottom: 90px;
}

.notes-row {
  display: flex;
  justify-content: space-evenly;
  margin: 30px auto;
}

.notes-point {
  width: 223.09px;
}

.notes-point p:nth-child(1) {
  font-style: normal;
  font-weight: 400;
  font-size: 87.3095px;
  font-family: var(--body-text);
  text-align: center;
}

@media screen and (max-width: 768px) {
  .notes-point p:nth-child(1) {
    font-size: 47px;
  }

  .notes-row {
    margin: 30px;
  }

  .notes-point p {
    padding: 1%;
  }
}
.notes-point p:nth-child(2) {
  font-style: normal;
  font-weight: 400;
  font-size: 17.3858px;
  font-family: var(--body-text);
  text-align: center;
}

.maybe-some-day {
  /* margin-top: 200px; */
  margin: 200px auto;
}

.maybe-heading {
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-size: 26.4963px;
  line-height: 35px;
  font-family: var(--body-text);
  color: var(--black);
  margin-bottom: 75px;
}

.maybe-div {
  display: flex;
  justify-content: space-evenly;
}

.maybe-para {
  font-family: "Fanwood Text";
  font-style: normal;
  font-weight: 400;
  font-size: 26.4963px;
  font-family: var(--body-text);
  max-width: 481px;
}

.maybe-list {
  margin-top: 20px;
}

.maybe-image {
  width: 447.12px;
  height: 349px;
  background: url("./images/about-someday.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: var(--border);
}

.maybe-image:hover {
  background: url("./images/about-someday.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: var(--border);
}

@media screen and (max-width: 768px) {
  #maybe-some-day .maybe-div {
    flex-direction: column;
  }

  #maybe-some-day {
    /* padding: 3%; */
    margin-bottom: 50px;
  }

  #maybe-some-day .maybe-para{
    margin: 7%;
    padding: 3%;
  }

  .maybe-image {
    width: 241.12px;
    height: 188.21px;
    background: url("./images/about-someday.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: var(--border);
    margin: 20px auto;
  }
}

.to-top {
  text-align: center;
  font-family: var(--body-text);
  font-style: normal;
  font-weight: 400;
  font-size: 26.4963px;
  line-height: 35px;
  margin-bottom: 50px;
  text-decoration: underline;
}

.to-top a {
  text-decoration: none;
  color: var(--black);
}
